header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 8px 10px;
}

input, textarea {
    margin: 8px 10px;
}

input[type=text], #category, textarea{
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    padding: 10px 10px;
    border-radius: 5px;
    border-color: black;
}

.button {
    background-color: #b8b8b8;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    color: black;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
}

.button:hover {
    background-color: black;
    color: white;
}

/* textarea{
    margin: 8px 10px;
    border-radius: 5px;
} */

/*  I need to keep adding style to my web page.
    currently I only have styled the page for adding a new blog.
    Eventually, I will add styling to all the pages of the webpage.
    I will need to add styling to the home page to display the posted Blogs,
    I need to add styling to the nav bar that I am planning to include on the future.
    I need to style in a better way the various types of formas that I use on my website.
    For my home page, I plan to showcast the posted blogs in some sort of card view, 
    each post will have its own card. */