main{
    margin: 12px;
    /* text-align: center; */
}

label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 8px 0px;
}

input, textarea {
    margin: 10px 0px;
}

input[type=text], #category, textarea{
    box-sizing: border-box;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    border-color: black;
}

.button {
    background-color: #b8b8b8;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    color: black;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
}

.button:hover {
    background-color: black;
    color: white;
}

input:hover, #category:hover, textarea:hover {
    background-color: #eeeeee;
} 