header {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: #292b2c;
    padding: 20px 10px;
}

header a{
    /* float: left; */
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 1.5em;
    line-height: 25px;
    border-radius: 4px;
}

header a.header-title{
    font-size: 25px;
    font-weight: bold;
}

header a:hover {
    background-color: rgb(73, 73, 73);
    color: white;
    text-decoration: none;
}

.header-info {
    float: right;
}

