body{
    margin: 0;
}

header {
    font-family: 'Brush Script MT', cursive;
    overflow: hidden;
    background-color: #292b2c;
    padding: 20px 10px;
}

header a{
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 2em;
    line-height: 30px;
    border-radius: 4px;
}

header a.header-title{
    font-size: 2em;
    font-weight: bold;
}

header a:hover {
    background-color: rgb(73, 73, 73);
    color: white;
    text-decoration: none;
}

.header-info {
    float: right;
}

